
 
  .sider-top {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
      .log {
         width: 30%;
       
         background-color: #fff;
         border-radius: 50%;
         border: 1px solid #72dffc;
        margin-bottom: 10px;
        img {
          width: 100%;
          border-radius: 50%;
         }
       }
    
      p{
        
        color: #fff;
        font-weight: 500;
      }
    }

    .sub_icon{
      position: absolute;
      top: 10px;
    }
 .ant-layout-sider-trigger{
   visibility:hidden;
 }

