.lives-card{
    width: 90% ;
    margin: 30px auto !important;
   
}
// 列表中的图片样式
.LiveList-table-img{
    width: 100px;
}
// 列表中添加直播课的确认按钮样式
.liveAdd-btn{
    display: flex;
    justify-content: center;
}