    .layout_all{
        width: 100%;
        min-height: 100vh !important;
       
        .content-main{
            margin: 10px 20px;
            width: 100%;
           
            background-color: #fff;
        }
    }
    
